{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "mocha": false,
    "node": false
  },
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "semi": [2, "always"],
    "space-before-function-paren": ["error", "never"],
    "indent": ["error", 4]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}